/* COLORS */
:root {
    --main-dark: #008080;       /* teal */
    --main-light: #40E0D0;      /* turquoise */
    --contrast: #F4FF52;        /* icterine */
    --white: #ffffff;
    --light-gray: #c5c5c5;

    --sidebar-width: 20%;
}

/* PAGE STYLING */
* {
    box-sizing: border-box;
}
.main-content {
    width: 80%;
    background-color: var(--white);
    margin-left: 20%;
    padding: 0px;
    overflow-y: auto;
    align-items: center;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    text-align: center;
    background: var(--main-light);
    color: var(--white);
    padding: 20px 0;
}
.container {
    display: flex;
    min-height: 100vh;
}

/* SIDE BAR */
.sidebar {
    width: 20%;
    height: 100vh;
    background-color: var(--main-dark);
    color: var(--white);
    position: fixed;
    overflow-y: auto;
    padding: 20px;
}
.sidebar-section-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.sidebar-link-list{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

/* HEADER */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    margin-right: 10vw;
}
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

/* PROJECTS */
.project-card {
    display: flex;
    align-items: center;
    padding: 20px;
}
/*.project-card:hover {
    border-radius: 20px;
    background-color: var(--main-light);
}*/
.project-image {
    width: 30vw;
    border-radius: 10px;
    height: auto;
}
.project-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.image-left {
    flex-direction: row;
}
.image-right {
    flex-direction: row-reverse;
}
.image-left .project-info{
    text-align: left;
    padding-left: 20px;
}
.image-right .project-info{
    text-align: right;
    padding-right: 20px;
}
.image-right .project-scope{
    text-align: right;
    padding-right: 20px;
}
.image-right .project-scope{
    text-align: right;
    padding-right: 20px;
}
.image-left .project-title{
    text-align: left;
    padding-left: 0px;
}
.image-right .project-title{
    text-align: right;
    padding-right: 0px;
}
.image-left .text-body{
    text-align: left;
    padding-left: 0px;
}
.image-right .text-body{
    text-align: right;
    padding-right: 0px;
}

.contact-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: 10px;
}
div.icon-box {
    display: table;
    width: 100%;
    table-layout: fixed;
}
div.icon-box a {
    display: table-cell;
    text-align: center;
}

/* BUTTONS */
.navigation-button {
    color: var(--white);
    font-size: 1.2vw;
}
.navigation-button:hover {
    color: var(--contrast);
}
.navigation-button-sub {
    color: var(--white);
    font-size: 1vw;
    margin-left: 10px;
}
.navigation-button-sub:hover {
    color: var(--contrast);
}
a.button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: var(--main-dark);
    color: var(--white);
    text-decoration: none;
    width: fit-content;
    display: flex;
    gap: 50px;
    margin: 10px;
    align-items: center;
}
a.button:hover {
    text-decoration: none;
    background-color: var(--contrast);
    color: var(--main-dark);
    cursor: pointer;
}
.icon-link{
    overflow: hidden;
    margin: 8px;
}
.icon-link img{
    transition: all 0.2s;
    width: 2vw;
    box-sizing: border-box;
    padding: 0.2vw;
}
.icon-link:hover img{
    transform: scale(1.1) rotate(5deg);
}

/* DIVIDERS */
hr.white {
    border-top: 1px solid var(--white);
}

/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
    .project-card {
        flex-direction: column;
    }
    .image-left, .image-right {
        flex-direction: column;
    }
    .project-image, .project-info {
        width: 100%;
    }
    .project-info{
        text-align: block;
        padding-right: 20px;
    }
    .project-scope{
        text-align: block;
        padding-right: 20px;
    }
    .project-title{
        text-align: block;
        padding-left: 0px;
    }
    .text-body{
        text-align: block;
        padding-left: 0px;
    }
}