.sidebar-title {
    font-size: 2.5vw;
    line-height: 1.0;
}
.sidebar-section-title {
    font-size: 1.5vw;
    margin: 0;
    padding: 0px;
    text-align: left;
}
.main-title {
    display: inline;
    font-size: 4vw;
    margin: 0;
    text-align: left;
}
.main-subtitle {
    display: inline;
    font-size: 2vw;
    margin: 0;
    text-align: left;
}
.section-title {
    display: inline;
    font-size: 2.5vw;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.project-title {
    display: inline;
    font-size: 2vw;
    margin: 0;
    text-align: left;
    /*font-variant: small-caps;*/
}
.project-scope {
    display: inline;
    font-size: 1.2vw;
    margin: 0;
    text-align: left;
    /*font-variant: small-caps;*/
}

.text-body {
    display: block;
    line-height: 1.5;
    font-size: 1vw;
    margin: 0;
    text-align: justify;
}

.contact-text{
    display: inline;
    font-size: 1vw;
}